<div class="airist-splash">
   <div class="container">
       <%= image_tag "projects/airist/airist-splash.png", :class => 'u-max-width'%>
   </div>
</div>
<div class="container u-pt-70">
    <div>
        <div class="heading--small heading--inline">Description</div>
        <span class="i-line"></span>
    </div>
    <div class="pure-g u-pt-30">
        <div class="pure-u pure-u-md-8-24">
            <div class="heading--small">Created</div>
            <p>Mar 2016</p>
            <div class="heading--small">For</div>
            <p>Hindustan Times</p>
            <div class="heading--small">Tool</div>
            <p>Node, D3, React, MongoDB, Python</p>
            <div class="heading--small">Data</div>
            <p>CPCB, DPCC, HT, IndiaSpend</p>
        </div>
        <div class="pure-u pure-u-md-16-24">
            <p>In an effort to monitor air-quality in the national capital and other cities in India, Hindustan Times brings you a real-time air pollution map.</p>

            <p>Indian cities are struggling with a pollution crisis. Delhi, in particular, has consistently recorded the highest levels of air pollution worldwide.</p>

            <p>To understand the complexity of the problem, we have fed the data from government sensors and other reliable sources into a centralized, accessible map. With our representation of the data, you can have an easy access to the status of air quality across the country.</p>

            <p>The data could point to patterns or trends which could, in turn, inform future reportage by our newsroom. More importantly, we hope this becomes a resource for our audience to track pollution levels in their respective cities.</p>
        </div>
    </div>
    <div class="u-pt-70"">
        <div class="heading--small heading--inline">Project</div>
        <span class="i-line"></span>
    </div>
    <%= image_tag "projects/airist/sate.png", :class => 'u-max-width u-pt-70'%>
    <div class="pure-g u-pt-70 u-text-center pure-g--gutter">
        <div class="pure-u pure-u-md-6-24">
            <%= image_tag "projects/airist/delhi.png", :class => 'u-max-width thumbnail--bordered'%>
            Delhi
        </div>
        <div class="pure-u pure-u-md-6-24">
            <%= image_tag "projects/airist/mumbai.png", :class => 'u-max-width thumbnail--bordered'%>
            Mumbai
        </div>
        <div class="pure-u pure-u-md-6-24">
            <%= image_tag "projects/airist/banglore.png", :class => 'u-max-width thumbnail--bordered'%>
            Banglore
        </div>
        <div class="pure-u pure-u-md-6-24">
            <%= image_tag "projects/airist/chennai.png", :class => 'u-max-width thumbnail--bordered'%>
            Chennai
        </div>
    </div>
    <div class="pure-g u-pt-70  pure-g--gutter u-text-center">
        <div class="pure-u pure-u-md-8-24">
            <%= image_tag "projects/airist/card-1.png", :class => 'u-max-width thumbnail--bordered'%>
        </div>
        <div class="pure-u pure-u-md-8-24">
            <%= image_tag "projects/airist/card-2.png", :class => 'u-max-width thumbnail--bordered'%>
        </div>
        <div class="pure-u pure-u-md-8-24">
            <%= image_tag "projects/airist/card-3.png", :class => 'u-max-width thumbnail--bordered'%>
        </div>
    </div>
    <div class="u-pt-70"">
        <div class="heading--small heading--inline">Media</div>
        <span class="i-line"></span>
    </div>
    <%= image_tag "projects/airist/media.png", :class => 'u-max-width u-pt-70'%>

</div>
<%= partial 'partials/footer' %>