<div class="u-pt-70">
   <div class="container">
       <%= image_tag "projects/paydash/paydash-splash.png", :class => 'u-max-width'%>
   </div>
</div>
<div class="container u-pt-70">
    <div>
        <div class="heading heading--small heading--inline">Description</div>
        <span class="i-line"></span>
    </div>
    <div class="pure-g u-pt-30">
        <div class="pure-u pure-u-md-8-24">
            <div class="heading heading--small">Created</div>
            <p>April 2016</p>
            <div class="heading heading--small">For</div>
            <p>Harvard Kennady School</p>
            <div class="heading heading--small">Tools</div>
            <p>Node, D3, React, SQL, Python</p>
            <div class="heading heading--small">Data</div>
            <p>MORD, NREGA</p>
        </div>
        <div class="pure-u pure-u-md-16-24">
            <p>Paydash is a monitoring tool for block officials overseeing MGNREGA, India's employment guarantee programme for rural households. Beneficiaries under MGNREGA are supposed to be paid within 15 days of working, but the average worker waited 53 days to receive payment in 2014-2015, undermining MGNREGA's effectiveness as a social safety net.</p>

            <p>Paydash aims to reduce delays in beneficiary payments by providing government officials with detailed information on delays -- breaking out performance on payment sub-processes down to the panchayat level and connecting poor performance with the responsible government employee.</p>

            <p>In addition to diagnostics, Paydash is action-oriented, providing access to pending documents and the contact information of the responsible employee. Paydash aims to empower government officials with better information while introducing more accountability into the payments process, with the ultimate goal of helping MGNREGA workers receive their rightful payments.</p>

            <p>Paydash is a joint initiative of the Ministry of Rural Development, the National Informatics Centre, and Evidence for Policy Design at Harvard Kennedy School</p>
        </div>
    </div>
    <div class="u-pt-70">
        <div class="heading heading--small heading--inline">Project</div>
        <span class="i-line"></span>
    </div>
    <%= image_tag "projects/paydash/paydash-musters.png", :class => 'u-max-width u-pt-70'%>
    <div class="pure-g u-pt-70 u-text-center">
        <div class="pure-u pure-u-md-12-24">
            <%= image_tag "projects/paydash/paydash-table-1.png", :class => 'thumbnail--medium u-text-center'%>
        </div>
        <div class="pure-u pure-u-md-12-24">
            <%= image_tag "projects/paydash/paydash-table-2.png", :class => 'thumbnail--medium u-text-center'%>
        </div>
    </div>
    <%= image_tag "projects/paydash/paydash-chart-1.png", :class => 'u-max-width u-pt-70'%>
    <div class="pure-g u-pt-70 u-text-center">
        <div class="pure-u pure-u-md-12-24">
            <%= image_tag "projects/paydash/paydash-menu-1.png", :class => 'thumbnail--medium u-text-center'%>
        </div>
        <div class="pure-u pure-u-md-12-24">
            <%= image_tag "projects/paydash/paydash-menu-2.png", :class => 'thumbnail--medium u-text-center'%>
        </div>
    </div>
     <%= image_tag "projects/paydash/paydash-chart-2.png", :class => 'u-max-width u-pt-70'%>
</div>
<%= partial 'partials/footer' %>