<div class="u-pt-70">
   <div class="container">
       <%= image_tag "projects/reporty/reporty-splash.png", :class => 'u-max-width'%>
   </div>
</div>
<div class="container u-pt-70">
    <div>
        <div class="heading heading--small heading--inline">Description</div>
        <span class="i-line"></span>
    </div>
    <div class="pure-g u-pt-30">
        <div class="pure-u pure-u-md-8-24">
            <div class="heading heading--small">Created</div>
            <p>March 2015</p>
            <div class="heading heading--small">For</div>
            <p>EPoD, Harvard Kennady School</p>
            <div class="heading heading--small">Tools</div>
            <p>Node, D3, Angular</p>
            <div class="heading heading--small">Data</div>
            <p>MORD, NREGA</p>
        </div>
        <div class="pure-u pure-u-md-16-24">
            <p>MGNREGA Report Dashboard, which was launched by the Secretary of Rural Development through a video conference to relevant state officials on August 29, 2014. The Report Dashboards are an intuitive interface that provide administrators with real-time visualized summaries of program performance at all administrative levels (GP, block, district, state, and central). </p>

            <p>They provide administrators with a bird’s eye view of MGNREGA implementation, highlighting bottlenecks and problems as they arise and in context of previous performance.</p>

            <p>The Village View dashboard is an online interface that allows users to easily access and view granular programmatic data on types of works in progress and completed in the panchayat, workers’ participation in works as noted on muster roles, wage payments, and more.</p>

            <p>The interface will greatly facilitate users’ access to data on individual-level program participation. The interface is searchable for all Gram Panchayats participating in NREGA. This information is expected to be help engaged citizens and civil society groups hold local officials accountable for information entered in the NREGA MIS and to facilitate social audits.</p>
        </div>
    </div>
    <div class="u-pt-120">
        <div class="heading heading--small heading--inline">Project</div>
        <span class="i-line"></span>
    </div>
    <div class="u-text-center u-pt-120">
        <%= image_tag "projects/reporty/reporty-mac.png", :class => 'thumbnail--large u-full-width'%>
    </div>
    <div class="pure-g u-pt-120 u-text-center">
        <div class="pure-u pure-u-md-12-24 pure-u-12-24">
            <%= image_tag "projects/reporty/reporty-chart-1.png", :class => 'thumbnail--medium u-full-width u-text-center'%>
        </div>
        <div class="pure-u pure-u-md-12-24 pure-u-12-24">
            <%= image_tag "projects/reporty/reporty-chart-2.png", :class => 'thumbnail--medium u-full-width u-text-center'%>
        </div>
    </div>
    <div class="pure-g u-pt-120 u-text-center">
        <div class="pure-u pure-u-md-12-24 pure-u-12-24">
            <%= image_tag "projects/reporty/reporty-chart-3.png", :class => 'thumbnail--medium u-full-width u-text-center'%>
        </div>
        <div class="pure-u pure-u-md-12-24 pure-u-12-24">
            <%= image_tag "projects/reporty/reporty-chart-4.png", :class => 'thumbnail--medium u-full-width u-text-center'%>
        </div>
    </div>
    <div class="pure-g u-pt-120 u-text-center">
        <div class="pure-u pure-u-md-12-24 pure-u-12-24">
            <%= image_tag "projects/reporty/reporty-chart-5.png", :class => 'thumbnail--medium u-full-width u-text-center'%>
        </div>
        <div class="pure-u pure-u-md-12-24 pure-u-12-24">
            <%= image_tag "projects/reporty/reporty-chart-6.png", :class => 'thumbnail--medium u-full-width u-text-center'%>
        </div>
    </div>
    <div class="pure-g u-pt-120 u-text-center">
        <div class="pure-u pure-u-md-12-24 pure-u-12-24">
            <%= image_tag "projects/reporty/reporty-chart-7.png", :class => 'thumbnail--medium u-full-width u-text-center'%>
        </div>
        <div class="pure-u pure-u-md-12-24 pure-u-12-24">
            <%= image_tag "projects/reporty/reporty-chart-8.png", :class => 'thumbnail--medium u-full-width u-text-center'%>
        </div>
    </div>
    <div class="pure-g u-pt-120 u-text-center">
        <div class="pure-u pure-u-md-12-24 pure-u-12-24">
            <%= image_tag "projects/reporty/reporty-chart-9.png", :class => 'thumbnail--medium u-full-width u-text-center'%>
        </div>
        <div class="pure-u pure-u-md-12-24 pure-u-12-24">
            <%= image_tag "projects/reporty/reporty-chart-10.png", :class => 'thumbnail--medium u-full-width u-text-center'%>
        </div>
    </div>
    <div class="u-pt-120">
        <div class="heading heading--small heading--inline">Media</div>
        <span class="i-line"></span>
    </div>
    <div class="pure-g u-pt-70 u-text-center">
        <div class="pure-u pure-u-md-6-24 pure-u-12-24 u-gutter--base">
            <%= image_tag "projects/reporty/reporty-gnow.png", :class => 'u-max-width u-text-center'%>
        </div>
    </div>
</div>
<%= partial 'partials/footer' %>