<div class="container u-pt-70">
    <div class="pure-g">
        <div class="pure-u pure-u-md-9-24 pure-u-sm-24-24"></div>
        <div class="pure-u pure-u-md-13-24 pure-u-sm-24-24">
            <div class="heading--jumbo">Ravi Suhag</div>
        </div>  
    </div>
    <div class="pure-g">
        <div class="pure-u pure-u-md-9-24 pure-u-sm-24-24">
            <%= image_tag "ravi_suhag.jpg", :class => 'about__banner'%>
        </div>
        <div class="pure-u pure-u-md-13-24 pure-u-sm-24-24">
            <p>Hi there i am Ravi Suhag, just another creative geek. I have a very curious path both personally and professionally. I have been good at physics since my childhood, studying and obtaining B. Tech degree in Electronics and Communication Engineering. After designing embedded systems and robots for couple of years during my graduation, I decided to learn design and code on my own and have been working as an UI/UX designer and full-stack developer since June 2012. I am many things and hungry to learn more and be more...</p>
            <ul class="about__list">
                <li><strong>User interface designer</strong> with a passion for designing user centered, clean and functional design. my designs follows structure, simplicity, visibility and reuse.</li>
                <li><strong>Fullstack developer</strong> with experience in developing responsive and device compatible web/mobile sites using latest technology and modern web frameworks.</li>
                <li><strong>Hardware hacker</strong> who loves to play with microcontrollers and electronic boards to design custom embedded and robotic systems.</li>
                <li><strong>An entrepreneur</strong> as founder of Inspiration Edge, an organization which aims at broadening horizons and unlocking the mental codes of talented youngsters.</li>
                <li><strong>An athlete</strong> who loves to play basketball , Chess, Volleyball and almost any indoor or outdoor game.</li>
                <li><strong>A Learner</strong> whose best learning of life is that he learned how to learn(Quickly).</li>
                <li><strong>A thinker</strong> who loves figure out why things are the way they are.</li>
            </ul>
        </div>
    </div>
    <div class="pure-g u-pt-120">
        <div class="pure-u pure-u-md-12-24 pure-u-sm-24-24">
            <div class="heading--base">Awards</div>
            <p></p>
        </div>
        <div class="pure-u pure-u-md-12-24 pure-u-sm-24-24">
            <div class="heading--base">Clients</div>
            <p>A couple of organisations I have been fortunate to work with</p>
            <div class="pure-g">
                <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24">
                    <%= image_tag "clients/epod.png", :class => 'u-max-width'%>
                </div>
                <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24">
                    <%= image_tag "clients/ddugky.png", :class => 'u-max-width'%>
                </div>
                <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24">
                    <%= image_tag "clients/jpal.png", :class => 'u-max-width'%>
                </div>
                <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24">
                    <%= image_tag "clients/ht.png", :class => 'u-max-width'%>
                </div>
                <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24">
                    <%= image_tag "clients/indiamart.png", :class => 'u-max-width'%>
                </div>
                <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24">
                    <%= image_tag "clients/aajevika.png", :class => 'u-max-width'%>
                </div>
            </div>
        </div>
    </div>
</div>