<div class="container  u-pt-70">
  <div class="pure-g">
    <div class="pure-u pure-u-md-20-24 pure-u-sm-24-24">
      <div class="heading heading--jumbo">Let's create something great!</div>
      <p>I am open to interesting consulting gigs, short or long term contracts, workshops and any exciting projects working with nice human beings. If you think you have something we can work together on, then get in touch.</p>
      <p>Please note that I receive a lot of email, so it may take me a while to get back to you. If I do seem to be taking a while to respond, please feel free to send me a follow-up email to remind to reply, that certainly won't offend me.</p>
      <p>Drop me an email at <strong style="color:#000">suhag.ravi@gmail.com</strong> or call me on <strong style="color:#000">+919717860747</strong></p>
    </div>
  </div>
  <!-- Services -->
  <div class="pure-g pure-g--gutter u-pt-70">
    <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-pb-20">
      <div class=" u-pb-20">
        <%= image_tag "services/ui.png", :class => 'banner--micro u-mt-20'%>
      </div>
      <div class="heading heading--base">UX and UI Design</div>
      <p>All my projects are design-led, starting with stickies and sketching, ending with design implemented as code in the app. My designs solve a problem, are easy to use, and look beautiful while doing it.</p>
    </div>
    <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-pb-20">
      <div class=" u-pb-20">
        <%= image_tag "services/code.png", :class => 'banner--micro u-mt-20'%>
      </div>
      <div class="heading heading--base">Web Development</div>
      <p>I work with tech teams on products and long-running projects, focusing on scalability, maintainability, performance and more. I specialise in writing scalable and high performance CSS, JavaScript, Node, Python.</p>
    </div>
    <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-pb-20">
      <div class=" u-pb-20">
        <%= image_tag "services/viz.png", :class => 'banner--micro u-mt-20'%>
      </div>
      <div class="heading heading--base">Data Visualization</div>
      <p>I turn reams of facts, figures and complex data into insightful data driven products, interactives, maps and visualisations. My visualisations works in various forms of media, from web applications to prints and reports.</p>
    </div>
  </div>
  <div class="pure-g pure-g--gutter u-pt-50">
    <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-pb-20">
      <div class=" u-pb-20">
        <%= image_tag "services/crawl.png", :class => 'banner--micro u-mt-20'%>
      </div>
      <div class="heading heading--base">Data Crawling</div>
      <p>You'll be in excellent hands if need data and don't have the time or the expertise to crawl a site. I have experience in getting around sloppy code, spider countermeasures, A/B tests, and other challenges to write complex crawlers.</p>
    </div>
    <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-pb-20">
      <div class=" u-pb-20">
        <%= image_tag "services/robo.png", :class => 'banner--micro u-mt-20'%>
      </div>
      <div class="heading heading--base">Robo Journalism</div>
      <p>I have experience in using algorithms to automatically generate news from structured data without much human intervention. From sensor journalism to sports stories, I have worked closely with newsrooms for automated story telling.</p>
    </div>
    <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-pb-20">
      <div class=" u-pb-20">
        <%= image_tag "services/workshop.png", :class => 'banner--micro u-mt-20'%>
      </div>
      <div class="heading heading--base">Workshops</div>
      <p>I run workshops and training sessions for product and tech teams about front-end architecture, user experience, data visualisation and other areas I work in. Performance, workflows, design process, and more, tailored to your company, products and team.</p>
    </div>
  </div>
  <div class="u-text-center u-pt-70">
    <%= link_to 'Let\'s make something great together', 'mailto:suhag.ravi@gmail.com?Subject=Let\'s%20make%20something%20great%20togethers', :target=>'_blank', :class=>'button button--jumbo u-max-width'%>
  </div>
  <div class="u-pt-70">
    <div class="heading heading--base">Clients</div>
    <p>A couple of organisations I have been fortunate to work with</p>
    <div class="pure-g">
      <div class="pure-u pure-u-md-4-24 pure-u-12-24">
        <%= image_tag "clients/epod.png", :class => 'u-max-width'%>
      </div>
      <div class="pure-u pure-u-md-4-24 pure-u-12-24">
        <%= image_tag "clients/ddugky.png", :class => 'u-max-width'%>
      </div>
      <div class="pure-u pure-u-md-4-24 pure-u-12-24">
        <%= image_tag "clients/jpal.png", :class => 'u-max-width'%>
      </div>
      <div class="pure-u pure-u-md-4-24 pure-u-12-24">
        <%= image_tag "clients/ht.png", :class => 'u-max-width'%>
      </div>
      <div class="pure-u pure-u-md-4-24 pure-u-12-24">
        <%= image_tag "clients/indiamart.png", :class => 'u-max-width'%>
      </div>
      <div class="pure-u pure-u-md-4-24 pure-u-12-24">
        <%= image_tag "clients/aajevika.png", :class => 'u-max-width'%>
      </div>
    </div>
  </div>
</div>
<%= partial 'partials/footer' %>
