<div class="container  u-pt-70">
  <div class="pure-g">
    <div class="pure-u pure-u-md-20-24 pure-u-sm-24-24">
      <div class="heading--jumbo">Let's create something great!</div>
      <p>I am open to interesting consulting gigs, short or long term contracts, workshops and any exciting projects working with nice human beings. If you think you have something we can work together on, then get in touch.</p>
      <p>Please note that I receive a lot of email, so it may take me a while to get back to you. If I do seem to be taking a while to respond, please feel free to send me a follow-up email to remind to reply, that certainly won't offend me.</p>
      <p>Drop me an email at <strong>suhag.ravi@gmail.com</strong> or call me on <strong>+919717860747</strong></p>
    </div>
  </div>
  <!-- Services -->
  <div class="pure-g u-pt-70">
      <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-gutter--base u-pb-20">
          <div class="heading--base">UX and UI Design</div>
          <p>All my projects are design-led, starting with stickies and sketching, ending with design implemented as code in the app. My products solve a problem, are easy to use, and look beautiful while doing it.</p>
          <%= link_to 'Hire me >>', 'mailto:suhag.ravi@gmail.com?Subject=Hello%20for%20Consulting',:target=>'_blank', :class=> 'button'%>
      </div>
      <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-gutter--base u-pb-20">
          <div class="heading--base">Web Development</div>
          <p>I work with tech teams on products and long-running projects, focusing on scalability, maintainability, performance and more.  I specialise in writing scalable and high performance CSS, high-quality JavaScript, Node, Python.</p>
          <%= link_to 'Hire me >>', 'mailto:suhag.ravi@gmail.com?Subject=Hello%20for%20Development', :target=>'_blank', :class=> 'button'%>
      </div>
      <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-gutter--base u-pb-20">
          <div class="heading--base">Data Visualization</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, eaque eveniet. Necessitatibus odio adipisci at ullam ipsa, doloremque voluptatibus provident alias deserunt, consectetur sint earum, voluptates quasi sit velit numquam! </p>
          <%= link_to 'Hire me >>', 'mailto:suhag.ravi@gmail.com?Subject=Hello%20for%20Workshops', :target=>'_blank', :class=> 'button'%>
      </div>
  </div>
  <div class="pure-g u-pt-70">
      <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-gutter--base u-pb-20">
          <div class="heading--base">Data Crawling</div>
          <p>You'll be in excellent hands if need data and don't have the time or the expertise to crawl a site. I have experience in getting around sloppy code, spider countermeasures, A/B tests, and other challenges to write complex crawlers.</p>
          <%= link_to 'Hire me >>', 'mailto:suhag.ravi@gmail.com?Subject=Hello%20for%20Consulting',:target=>'_blank', :class=> 'button'%>
      </div>
      <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-gutter--base u-pb-20">
          <div class="heading--base">Robo Journalism</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facilis suscipit, animi, quasi, aspernatur iusto nulla veritatis, doloribus perferendis eligendi et quis! Expedita omnis voluptatibus voluptate ex quod, quam maxime.</p>
          <%= link_to 'Hire me >>', 'mailto:suhag.ravi@gmail.com?Subject=Hello%20for%20Development', :target=>'_blank', :class=> 'button'%>
      </div>
      <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-gutter--base u-pb-20">
          <div class="heading--base">Data Visualization</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, eaque eveniet. Necessitatibus odio adipisci at ullam ipsa, doloremque voluptatibus provident alias deserunt, consectetur sint earum, voluptates quasi sit velit numquam! </p>
          <%= link_to 'Hire me >>', 'mailto:suhag.ravi@gmail.com?Subject=Hello%20for%20Workshops', :target=>'_blank', :class=> 'button'%>
      </div>
  </div>
</div>

<%= partial 'partials/footer' %>