<div class="container u-pt-70">
    <div class="pure-g">
        <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24">
            <%= image_tag "workspace.png", :class => 'about__banner'%>
        </div>
        <div class="pure-u pure-u-md-14-24 pure-u-sm-24-24">
            <p class="heading--large">Hello, welcome to my little space on the web!</p>
            <p>Crafting delightful experiences for the web and beyond.</p>
            <p>I am an award-winning web architect, designer, developer, maker, data journalist and entrepreneur from India. I help people build great products. I'm currently working as tech consultant at Evidence for Policy Design at the Center for International Development, Harvard University where we build tools that enable government to make data driven policy decisions.</p>
            <p>Have fun in browsing and thank you for visiting!</p>
            <%= link_to 'Know more about me &#8674;', '/about', :class=>'button' %>
        </div>
    </div>
    <!-- Projects -->
    <div class="pure-g u-pt-120">
        <div class="pure-u pure-u-md-12-24 pure-u-sm-24-24 u-padding-10">
            <div class="heading--base">Projects</div>
            <p>Browse through my projects to see why I made it, what tools and technologies were used and where I got the data from. Here, you can also find snapshots or, working examples and detailing the different aspects of each project.</p>
            <p>A project page typically answers questions such as</p>
            <ul class="home__list">
                <li>How each project got started</li>
                <li>Tools and technologies used</li>
                <li>Snapshots of project/process</li>
                <li>Sometimes link to working example</li>
            </ul>
            <p>Some projects requires authentication, if you find yourself interested in chekcing out the project, plesse feel free to drop me a line and I will help you get going.</p>
           <%= link_to 'Go to projects page &#8674;', '/projects.html', :class=>'button' %>
        </div>
        <div class="pure-u pure-u-md-2-24 pure-u-sm-24-24">
        </div>
        <div class="pure-u pure-u-md-10-24 pure-u-sm-24-24 ">
            <br>
            <%= image_tag "projects.png", :class => ' home__work u-max-width'%>
        </div>
    </div>
    <!-- Brief -->
    <div class="pure-g u-pt-120">
        <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-gutter--base u-pb-20">
            <div class="heading--base">Services</div>
            <p>My services range from user interface & experience which illustrates key points to complex visualizations of systems and processes. My software development approach is agile and user centered. Whether it’s a simple app or a complex web platform my solutions are follow structure, simplicity, visibility and reuse.</p>
            <%= link_to 'See all my services &#8674;', '/connect.html', :class=>'button' %>
        </div>
        <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-gutter--base u-pb-20">
            <div class="heading--base">Blog</div>
            <p>I also write blogs, normally about my projects to give a lot more background information about the thoughts, process and choices went into the project. Or a tutorial about something interesting I figured out to code or make. Also on thoughts and perspectives that matters to me and had something to share.</p>
            <%= link_to 'Go to blog page &#8674;', '/blog.html', :class=>'button' %>
        </div>
        <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-gutter--base u-pb-20">
            <div class="heading--base">Contact</div>
            <p>Feel free to contact me about interesting oppotunities, collaborations or anything else. I am sharing most of my code on <a  target="_blank" href="http://www.github.com/ravisuhag">Github</a>, most of my design work on <a  target="_blank" href="http://www.behance.com/ravisuhag">Behance</a>, random thoughts on <a  target="_blank" href="http://www.twitter.com/Ravi_Suhag">Twitter</a>, every day moments on <a  target="_blank" href="http://www.instagram.com/ravisuhag">Instagram</a>, articles on <a  target="_blank" href="http://www.medium.com/@ravisuhag">Medium</a> and meeting startups on <a  target="_blank" href="http://www.angel.co/ravisuhag">Angel List</a> . Full resumé is available on <a target="_blank" href="https://www.linkedin.com/in/ravisuhag">LinkedIn</a>.</p>
            <%= link_to 'Say hi to me &#8674;', '/connect.html',:class=>'button' %>
        </div>
    </div>
</div>
<%= partial 'partials/footer' %>