<div class="container u-pt-50">
  <div class="heading heading--jumbo">Featured Projects</div>
  <div class="pure-g pure-g--gutter u-pt-30">
    <div class="pure-u pure-u-md-6-24 pure-u-24-24">
      <a href="/projects/airist"><%= image_tag "projects/thumbnails/airist.png", :class => 'u-full-width u-mt-20 banner--project'%></a>
      <h4>Airist</h4>
      <p> In an effort to monitor air-quality in the national capital and other cities in India, design and development of the realtime air quality monitoring platform for Hindustan Times.</p>
      <%= link_to 'View project &#8674;', '/projects/airist/index.html', :class=>'button' %>
    </div>
    <div class="pure-u pure-u-md-6-24 pure-u-24-24">
      <a href="/projects/paydash"><%= image_tag "projects/thumbnails/paydash.png", :class => 'u-full-width u-mt-20 banner--project'%></a>
      <h4>Paydash</h4>
      <p>Design and development of the payment dashbaord for National Rural Employment Guarntee Act, an initiative launched by Ministry of Rural Development, Government of India.</p>
      <%= link_to 'View project &#8674;', '/projects/paydash/index.html', :class=>'button' %>
    </div>
    <div class="pure-u pure-u-md-6-24 pure-u-24-24">
      <a href="/projects/reporty"><%= image_tag "projects/thumbnails/reporty.png", :class => 'u-full-width u-mt-20 banner--project'%></a>
      <h4>Reporty</h4>
      <p>Design and development of the report dashbaord for National Rural Employment Guarntee Act, an initiative launched by Ministry of Rural Development, Government of India.</p>
      <%= link_to 'View project &#8674;', '/projects/reporty/index.html', :class=>'button' %>
    </div>
    <div class="pure-u pure-u-md-6-24 pure-u-24-24">
      <a href="/projects/reporty"><%= image_tag "projects/thumbnails/infoassembly.png", :class => 'u-full-width u-mt-20 banner--project'%></a>
      <h4>Info Assembly</h4>
      <p>Info Assembly, a market/ business intelligence platform which enables intended data discovery by aggregating, analyzing and linking all relevant information from various datasets.</p>
      <%= link_to 'View project &#8674;', 'https://youtu.be/ZscCPRYtSOw', :class=>'button', :target=>'_blank' %>
    </div>
  </div>
  <div class="heading heading--jumbo u-pt-120">Open Source </div>
  <div class="pure-g pure-g--gutter u-pt-30">
    <div class="pure-u pure-u-md-8-24 pure-u-24-24">
      <h4>Jolly</h4>
      <p>jolly is a boilerplate that extends hapi.js by providing structure and convention. Jolly is built with production requirements in mind and is being used in many projects at organization like Hindustan Times and EPoD.</p>
      <%= link_to 'View project &#8674;', 'https://github.com/ravisuhag/jolly', :class=>'button', :target=>'_blank'%>
    </div>
  </div>
</div>
<%= partial 'partials/footer' %>