<div class="container u-pt-120">
  <div class="heading heading--jumbo">Featured Projects</div>
  <div class="pure-g u-pt-30">
    <div class="pure-u pure-u-md-6-24 u-gutter--base pure-u-12-24">
      <%= image_tag "work_airist.png", :class => 'u-full-width u-mt-20'%>
      <p> In an effort to monitor air-quality in the national capital and other cities in India, design and development of the realtime air quality monitoring platform for Hindustan Times.</p>
      <%= link_to 'View project &#8674;', '/projects/airist/index.html', :class=>'button' %>
    </div>
    <div class="pure-u pure-u-md-6-24 u-gutter--base pure-u-12-24">
      <%= image_tag "work_paydash.png", :class => 'u-full-width u-mt-20'%>
      <p>Design and development of the payment dashbaord for National Rural Employment Guarntee Act, an initiative launched by Ministry of Rural Development, Government of India.</p>
      <%= link_to 'View project &#8674;', '/projects/paydash/index.html', :class=>'button' %>
    </div>
    <div class="pure-u pure-u-md-6-24 u-gutter--base pure-u-12-24">
      <%= image_tag "work_nrega.jpg", :class => 'u-full-width u-mt-20'%>
      <p>Design and development of the dashbaord for National Rural Employment Guarntee Act, an initiative launched by Ministry of Rural Development, Government of India.</p>
      <%= link_to 'View project &#8674;', '/projects/reporty/index.html', :class=>'button' %>
    </div>
  </div>
</div>